*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
        font-family:'Oswald', sans-serif;
        background: url(../Proteina1/img/11.png) fixed;
}
.contendor{
    padding:60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.titulo{
    color:#642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom:60px;
}
header{
    width: 100%;
    height: 600px;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(0, 95%, 49%, 0.63), hsla(240, 8%, 25%, 0.329)), url(../Proteina1/img/4.jpg) fixed;
    background: linear-gradient(to right, hsla(130, 5%, 44%, 0.63), hsla(0, 92%, 46%, 0.329)), url(../Proteina1/img/4.jpg) fixed;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:white;
    font-weight:300;
    text-decoration: none;
    margin-right: 10px;

}
nav > a:hover{
    border-top: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    padding: 6px 0; 
    
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.textos-header h1{
    font-size: 40px;
    color: white;
}
.textos-header h2{
    font-size: 20px;
    font-weight: 300;
    color: white
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;

}
/*//////////////TEXTO DE INSTRUCCIONES////////////////////////////////*/
h1{
    text-align: center;
    font-family:'Oswald', sans-serif;
}
h2{
    text-align: center;
    font-family:'Oswald', sans-serif;
    margin-top: 2px;
    font-size: 1.2em;
}
.b{
    text-align: right;
    font-family:'Oswald', sans-serif;
    color: white;
}
.box{
    width: 550px;
    height: auto;
    background-color:hsla(0,0%,100%,0.75);
    border: 2px solid #FFFFFF;
    margin: 111px auto;
    padding: 1.7%;
}
.box2{
    width: 550px;
    height: auto;
    background-color:hsla(0,0%,100%,0.75);
    border: 2px solid #FFFFFF;
    margin:auto;
    margin-top: 40px;
    padding: 1.7%;
}

.titulo {
    font-family: Verdana,Geneva,sans-serif;
    font-size:30px;
    color : #F70053;
    text-align : center;
    }
header{
    padding: 0.5em;
    text-align: center;
    width: 100%;
    color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
}
input[type="text"]{
    margin: 0.4em;
    font-size: 0.8em;
}

input[type="submit"]{
font-family: 'Oswald', sans-serif;
margin: 0.3em;
padding: 0.4em;
color: #F71A1A;
cursor: pointer;
font-size: 1em; 
}
.label{
    text-align: left;
    font-size: 1.2em;
    font-family: 'Oswald', sans-serif;
    width: 0%;
}
.text{
    text-align: left;
    font-size: 1.2em;
    font-family: 'Oswald', sans-serif;
    width: 0%;
    color: red;
}
.php{
    text-align: left;
    font-size: 1.2em;
    font-family: 'Oswald', sans-serif;
    width: 0%;
    color: black;
}




/*footer*/
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
body{
	line-height: 1.5;
	font-family: 'Oswald', sans-serif;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
    background-color: #cc2626;
}