/* GENERAL
=========================== */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-weight: 300;
  font-size: 1.05rem;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
  color: white;
  background-size: cover;
  background-attachment: fixed;
}

/* NAVBAR
  =========================== */
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 720px;
  margin: 0 auto;
  height: 100px;
  list-style: none;
  font-size: 23px;
  margin-bottom: 2%;
}

.menu li a {
  text-decoration: none;
  color: black;
}

.menu li {
  width: 125px;
  height: 50px;
  text-align: center;
}

.menu li a:hover {
  color: rgb(173, 27, 27);
  cursor: pointer;
  font-size: 25px;
}

.logo {
  margin-top: -30px;
  height: 100px;
  padding: 10px;
}
nav {
  background-color: rgba(255, 255, 255, 0.548);
}
/* CONTENDOR
  =========================== */

/*
             * propiedades de las cajas (arrastrables)
             */
div[id^="caja"] {
  width: 330px;
  height: auto;
  background: rgba(204, 0, 0, 0.8);
  border: 3px solid rgba(204, 0, 0, 1);
  margin: 5px auto;
  padding: 5px;
  color: #fff;
}

textarea[id^="caja"] {
  width: 330px;
  border-radius: 15px;
  height: auto;
  background: rgba(204, 0, 0, 0.8);
  border: 3px solid rgba(204, 0, 0, 1);
  margin: 5px auto;
  padding: 5px;
  color: #fff;
  resize: none;
  box-shadow: 3px 4px 0px 0px #8a2a21;
  font-size: unset;
}
textarea::placeholder {
  color: white;
}

/*
             * propiedades que van a tomar el elemento arrastrable luego de que  este se suelte dentro de su contenedor
             */
div[id^="contenedor"] div[id^="caja"] {
  background: rgba(0, 178, 255, 0.8);
  border: 3px solid rgba(0, 178, 255, 1);
  border-radius: 15px;
  float: right;
  box-shadow: 3px 4px 0px 0px #126485;
}

div[id^="contenedor"] div[id^="caja"] span {
  color: #fff;
}

/*
             * propiedades del contenedor
             */
div[class^="contenedor"] {
  width: 350px;
  height: 500px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.8);
  border: 3px solid rgba(38, 104, 127, 1);
  margin: 5px auto;
  padding: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
select {
  border-radius: 20px;
  background-color: rgba(204, 0, 0, 0.8);
  color: white;
  font-size: 17px;
}
option {
  background: rgba(204, 0, 0, 0.8);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#contenedor1 {
  float: left;
}

#contenedor {
  float: right;
  text-align: center;
  font-style: oblique;
  position: relative;
}

#almacenaje {
  width: 800px;
  margin: auto;
}

.dropdown {
  float: right;
  margin-right: 30px;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: red;
  padding: 14px 16px;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  border-radius: 20px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 20px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

a .span1 {
  font-size: 23px;
  margin: auto;
}
h2 {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 35px;
  padding-bottom: 20px;
}

.waves {
  position: relative;
  width: 100%;
  height: 150vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 125px;
}

.content {
  position: relative;
  height: 200px;
  text-align: center;
  background-color: white;
}

.hola {
  bottom: 0;
  width: 100%;
  position: absolute;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    display: none;
  } 
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
 
}

#icon {
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.myButton {
  box-shadow: 3px 4px 0px 0px #8a2a21;
  background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
  background-color: #c62d1f;
  border-radius: 18px;
  border: 1px solid #d02718;
  display: inline;
  cursor: pointer;
  font-family: Arial;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
  margin-top: 430px;
}
.myButton:hover {
  background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
  background-color: #f24437;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.myButton2 {
  box-shadow: 3px 4px 0px 0px #899599;
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  background-color: #ededed;
  border-radius: 15px;
  border: 1px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  color: #3a8a9e;
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;
  margin-left: 47%;
  margin-right: auto;
  margin-top: 1%;
}
.myButton2:hover {
  background: linear-gradient(to bottom, #ec0b0b 5%, #ededed 100%);
  background-color: #bab1ba;
}
.myButton2:active {
  position: relative;
  top: 1px;
}

