* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 101;
  background-color: #c9c9c9;
  list-style: none;
}

.nav-right {
  margin-left: auto;
  margin-right: 5%;
  list-style: none;
}

.nav-item {
  margin-left: 5%;
  margin-top: 1%;
}

.logo {
  height: 60px;
  padding: 10px;
}

.red {
  background: #eb4d4b;
}

.dropdown {
  position: relative;
}

.dropdown:hover {
  cursor: pointer;
}

.menu {
  list-style: none;
  display: none;
  flex-direction: column;
  position: absolute;
  right: 20%;
  top: 90%;
  background: #ffffff;
  max-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: unset;
  border-radius: 10px;
  border: 0.125px solid #f1f1f1;
}

.dropdown-expand {
  display: flex;
}

.dropdown-menu-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #212529;
}

.dropdown-menu-link div {
  min-width: 82px;
  height: 50px;
  position: relative;
}

.dropdown-menu-link i {
  font-size: 1.25rem;
  color: #727475;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.dropdown-menu-link span {
  font-size: 15px;
  width: 298px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-menu-link span > span {
  font-size: 10px;
}

.dropdown-menu-link:hover {
  cursor: pointer;
  background: #f1f1f1;
}

.wrapper {
  padding: 10px;
  margin-left: 82px;
  padding-top: 75px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

[class*="col-"] {
  padding: 10px;
}

button {
  display: block;
  margin: 20px auto;
  background: salmon;
  color: white;
  border: 0;
  padding: 6px 10px;
  cursor: pointer;
}

button:hover {
  background: palevioletred;
  transition: all 0.2s;
}

.popup-wrapper {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.popup {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  width: 100%;
  max-width: 300px;
  background: white;
  margin: 10% auto;
  padding: 20px;
  position: relative;
}

.popup a {
  background: salmon;
  color: white;
  text-decoration: none;
  padding: 6px 10px;
  margin: 30px auto;
  display: block;
  width: 50%;
}

.popup a:hover {
  background: palevioletred;
  transition: all 0.2s;
}

.popup-close {
  position: absolute;
  top: 5px;
  right: 15px;
  cursor: pointer;
  font-size: 1.5rem;
}

/* Small devices >= 600px */
@media only screen and (min-width: 600px) {
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

/* Medium devices >= 768px */
@media only screen and (min-width: 768px) {
  .col-m-6 {
    width: 50%;
  }
  .col-m-12 {
    width: 100%;
  }
}

/* laptops/desktops >= 992px */
@media only screen and (min-width: 992px) {
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-8 {
    width: 66.66%;
  }
}

.counter {
  padding: 16px;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.couner i {
  font-size: 50px;
}

.card {
  background: #ffffff;
  color: #212529;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-header {
  padding: 15px 30px;
  border-bottom: 1px solid #f1f1f1;
  position: relative;
}

.card-header i {
  color: #212529;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.card-header i:hover {
  cursor: pointer;
}

.card-header h3 {
  margin: 0;
}

.card-content {
  padding: 20px;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td {
  border-top: 1px solid #f1f1f1;
  padding: 15px;
}

table th {
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  padding: 15px 12px;
  text-align: left;
}
