
}

* {
  box-sizing: border-box;
}



.logo {
  height: 60px;
  padding: 10px;
}


.dropdown {
  position: relative;
}

.dropdown:hover {
  cursor: pointer;
}

}

.dropdown-expand {
  display: flex;
}

}

.dropdown-menu-link div {
  min-width: 82px;
  height: 50px;
  position: relative;
}

.dropdown-menu-link i {

}

.dropdown-menu-link span {
  font-size: 15px;
  width: 298px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-menu-link span > span {
  font-size: 10px;
}

.dropdown-menu-link:hover {

}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

[class*="col-"] {
  padding: 10px;
}

}

/* Medium devices >= 768px */
@media only screen and (min-width: 768px) {

}

/* laptops/desktops >= 992px */
@media only screen and (min-width: 992px) {

}

.counter {
  padding: 16px;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.couner i {
  font-size: 50px;
}

.card {

}

.card-header i:hover {
  cursor: pointer;
}

.card-header h3 {
  margin: 0;
}

.card-content {
  padding: 20px;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td {

