/* GENERAL
=========================== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-weight: 300;
  font-size: 1.05rem;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
}

/* NAVBAR
=========================== */
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 720px;
  margin: 0 auto;
  height: 100px;
  list-style: none;
  font-size: 23px;
  margin-bottom: 2%;
}

.menu li a {
  text-decoration: none;
  color: black;
}

.menu li {
  width: 125px;
  height: 50px;
  text-align: center;
}

.menu li a:hover {
  color: rgb(173, 27, 27);
  cursor: pointer;
  font-size: 25px;
}

.logo {
  margin-top: -30px;
  height: 100px;
  padding: 10px;
}
.dropdown {
  float: right;
  margin-right: 30px;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: red;
  padding: 14px 16px;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  border-radius: 20px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 20px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
button {
  border: none;
  background-color: white;
}
a .span1 {
  font-size: 23px;
  margin: auto;
}

/* CONTENT
=========================== */

.tab {
  width: 80%;
  margin-top: 2%;
  margin-left: 10%;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
}

.tab button:hover {
  background-color: rgba(138, 18, 18, 0.795);
}

.tab button.active {
  background-color: rgba(138, 18, 18, 0.795);
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  margin-left: 10%;
  margin-right: 10%;
}

.cajaGuardados {
  padding: 10px;
  display: inline-table;
  border: 1px black solid;
  margin: 10px;
  width: 30%;
}

.cajaCreados {
  padding: 10px;
  display: inline-table;
  border: 1px black solid;
  margin: 10px;
  width: 30%;
}
span {
  font-size: 50px;
  display: block;
  text-shadow: 0px 0px 80px rgba(255, 255, 255, 0.5);
  background: url("../img/gallery-plans/Text-Back.png") repeat-y;
  font-size: 500%;
  margin-left: 29%;
  margin-right: 26%;

  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;

  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

/* Animate Background Image */

@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.cajaPlan {
  padding-top: 40px;
  padding-bottom: 40px;
  display: inline-table;
  margin: 10px;
}

.card {
  background: white;
  width: 300px;
  display: inline-block;
  position: relative;
  text-align: center;
  border-radius: 20px;
  box-shadow: -1px 10px 30px -10px black;
}

#img-1 {
  position: absolute;
  margin-left: -45%;
  margin-top: -8%;
  z-index: 3;
  max-width: 60px;
  max-height: 60px;
}

h1 {
  color: black;
  text-align: left;
  margin-left: 10%;
  margin-top: 12%;
}

.plandesdatos {
  text-align: left;
  margin-top: -2%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
}

.plandescription {
  text-align: left;
  margin-left: 10%;
  margin-top: 6%;
  margin-right: 10%;
  margin-bottom: 5%;
}

#Borrado {
  display: block;
}

.form-element #rangeValue {
  margin-bottom: -10px;
  font-size: 50px;
  font-family: "Raleway";
  color: #222;
}
.form-element input[type="range"] {
  -webkit-appearance: none;
  width: 300px;
  height: 40px;
  border-radius: 15px;
  background: #222;
  outline: none;
  overflow: hidden;
}
.form-element input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 40px;
  height: 40px;
  background: rgb(173, 27, 27);
  border-radius: 10px;
  box-shadow: -350px 0px 0px 340px rgb(173, 27, 27);
  cursor: pointer;
}

label {
  margin: 10px;
}
