/* GENERAL
=========================== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}

/* NAVBAR
=========================== */
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 720px;
    margin: 0 auto;
    height: 100px;
    list-style: none;
    font-size: 23px;
}

.menu li a {
    text-decoration: none;
    color: black;
}

.menu li {
    width: 125px;
    height: 50px;
    text-align: center;
}

.menu li a:hover {
    color: rgb(173, 27, 27);
    cursor: pointer;
    font-size: 25px;

}

  
  .logo {
    margin-top: -30px;
    height: 100px;
    padding: 10px;
  }

/* CONTENT
=========================== */

.container {
    margin-top: 5%;
    min-height: 100%;
}

a {
    font-size: 23px;
}

/* Proyectos */


.content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
}

.card {
    color: inherit;
    cursor: pointer;
    width: calc(33% - 2rem);
    min-width: calc(33% - 2rem);
    height: 400px;
    min-height: 400px;
    perspective: 1000px;
    margin: 2%;
    position: relative;
}

.typing {
    color: rgb(173, 27, 27);
}

/* TEXTO IZQUIERDA */
.text {
    margin-top: 15%;
}

/* IMAGENES DERECHA */
#img-1 {
    position: absolute;
    z-index: 2;
    margin-top: 10%;
    transition: 3s ease-in-out;
    transform: scale(1);
}

#img-1:hover {
    transition: 4s;
    transform: scale(1.3);
}

#img-2 {
    position: absolute;
    z-index: 3;
    left: 48%;
    transition: 3s ease-in-out;
    transform: scale(1);
}

#img-2:hover {
    transition: 4s;
    transform: scale(1.3);
}

#img-3 {
    position: absolute;
    z-index: 1;
    left: 107%;
    margin-top: 10%;
    transition: 3s ease-in-out;
    transform: scale(1);
}

#img-3:hover {
    transition: 4s;
    transform: scale(1.3);
}

@media screen and (max-width: 640px){

    .menu{
        margin: 0 auto;
    }
    .menu li a{
        font-size: 80%; 
    }
    .imagenes{
       display: none;
    }
    .card{
        margin:-15px;
    }
    .logo{
        width: 80%;
        height: auto;
        margin-top: -12px;
    }
    .text-3 {
        font-size: 10px;
        margin: 20%
    }
    p{
        font-size: 15px;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: -66px;
        margin-inline-end: -2px;
    }
}