/* GENERAL
=========================== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    background-image:  url("https://i1.wp.com/i.redd.it/ipyqp793nst41.jpg?ssl=1");
    

  }
  
  /* NAVBAR
  =========================== */
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 720px;
    margin: 0 auto;
    height: 100px;
    list-style: none;
    font-size: 23px;
    
  }
  
  .menu li a {
    text-decoration: none;
    color: black;
  }
  
  .menu li {
    width: 125px;
    height: 50px;
    text-align: center;
  }
  
  .menu li a:hover {
    color: rgb(173, 27, 27);
    cursor: pointer;
    font-size: 25px;
  
  }
  
  .logo {
    margin-top: -30px;
    height: 100px;
    padding: 10px;
  }
p{
  
    text-decoration: dashed;
}

.box{

    width: 600px;
    height: 380;
    border: 100%;
    border-radius: 50px;
    background-color:rgba(255, 255, 255, 0.589);
    margin: 111px auto;
    padding: 5px;
    text-align:left;
    padding-left: 30px; 
    padding-top: 10px;
    padding-bottom: 20px;
}
h2{
    font-size: 26px;;
    font-style: italic;
    margin-top: 20px;
    text-align: center;
}

.container-bar{
	width: 100%;
	max-width: 50px;
	position: fixed;
	left: 0;
	top: 25%;
}
.container-bar a{
	display: block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	position: relative;
	transition: all 500ms ease;
	color: #fff;
}
.container-bar a:hover{
	background: #1c1c1c;
}
.container-bar .fa-facebook{
	background: #3b5998;
	border-radius: 0px 5px 0px 0px;
}
.container-bar .fa-youtube{
	background: #e52a23;
}
.container-bar .fa-twitter{
	background: #00acee;
}
.container-bar .fa-github{
	background: #747473;
}
.container-bar .fa-pinterest{
	background: #c8232c;
	border-radius: 0px 0px 5px 0px;
}
.container-bar #title{
	position: absolute;
	background: #1c1c1c;
	padding: 0px 8px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 3px;
	font-size: 15px;
	top:12px; left: 0px;
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
}
.container-bar a:hover #title{
	opacity: 1;
	visibility: visible;
	left: 64px;
}
.container-bar #title:after{
	position: absolute;
	content: '';
	border-left: 7px solid transparent;
	border-right: 6px solid #1c1c1c;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	right: 100%;
	top: 8px;
}
#btn-social{
	display: none;
}
.fa-play{
	cursor: pointer;
	transition: all 0.4s;
	font-size: 12px;
	margin-bottom: 5px;
	display: inline-block;
	transform: rotate(180deg);
	color: #49b0e6;
}
#btn-social:checked ~ .fa-play{
	transform: rotate(0deg);
}
.icon-social{
	transition: all 0.4s;
	transform: translateX(0%);
	box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
}
#btn-social:checked ~ .icon-social{
	transform: translateX(-100%);
	box-shadow: 0px 1px 10px rgba(0,0,0,0.0);
}


