* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}

/*  MENU */
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 720px;
    margin: 0 auto;
    height: 100px;
    list-style: none;
    font-size: 23px;
}

.menu li a {
    text-decoration: none;
    color: black;
}

.menu li {
    width: 125px;
    height: 50px;
    text-align: center;
}

.logo {
    max-width: 120px;
    max-height: 120px;
    transition: 10s;
    animation-iteration-count: infinite;
    animation-name: example;
    animation-duration: 4s;
}

@keyframes example {
    from {
        transform: scale(0.9);
    }
    to {
        transform: scale(1);
    }
}

;


.container {
    margin-top: 5%;
    min-height: 100%;
}
a {
    font-size: 23px;
}

/* Proyectos */


.content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
}

.card {
    color: inherit;
    cursor: pointer;
    width: calc(33% - 2rem);
    min-width: calc(33% - 2rem);
    height: 400px;
    min-height: 400px;
    perspective: 1000px;
    margin: 2%;
    position: relative;
}

/* TEXTO IZQUIERDA */
.text {
    margin-top: 15%;
}

/* IMAGENES DERECHA */
#img-1 {
    position:absolute; z-index:2; 
    margin-top: 10%;
    transition: 3s ease-in-out;
    transform: scale(1);
}
#img-1:hover {
    transition: 5s;
    transform: scale(1.5);
}
#img-2 {
    position:absolute; z-index:3; 
    left: 48%;
    transition: 3s ease-in-out;
    transform: scale(1);
}
#img-2:hover {
    transition: 5s;
    transform: scale(1.5);
}
#img-3 {
    position:absolute; z-index:1;
    left: 107%;
    margin-top: 10%;
    transition: 3s ease-in-out;
    transform: scale(1);
}
#img-3:hover {
    transition: 5s;
    transform: scale(1.5);
}